<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.success.ondemand"
	version 	= "0.1.06">

	<name>Success On Demand</name>

	<description>
		Subscription-based mobile access to Success Magazine articles, as well as audio and video content.
	</description>

  <author href="http://www.lightsandcolors.com"
		email="dan@lightsandcolors.com">
		Daniel Hilton
	</author>

  <icon src="icon.png"/>
  <icon src="resources/icons/Icon.png" width="57" height="57" />
  <icon src="resources/icons/Icon~ipad.png" gap:platform="ios" width="72" height="72" />
  <icon src="resources/icons/Icon@2x.png" width="114" height="114" />
  <icon src="resources/icons/android/ldpi.png" gap:platform="android" gap:density="ldpi" />
  <icon src="resources/icons/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
  <icon src="resources/icons/android/hdpi.png" gap:platform="android" gap:density="hdpi" />
  <icon src="resources/icons/android/xhdpi.png" gap:platform="android" gap:density="xhdpi" />

  <gap:splash src="splash.png"/>
  <gap:splash src="resources/loading/Default.png" gap:platform="ios" width="320" height="480" />
  <gap:splash src="splash/ios/Default@2x.png" gap:platform="ios" width="640" height="960" />
  <gap:splash src="splash/ios/Default-Landscape-ipad.png" gap:platform="ios" width="1024" height="748" />
  <gap:splash src="splash/ios/Default-ipad.png" gap:platform="ios" width="768" height="1004" />

  <preference name="orientation" value="portrait" />
  <preference name="phonegap-version" value="2.0.0"/>

  <feature name="http://api.phonegap.com/1.0/network"/>

  <access origin="*" browserOnly="true"/>
</widget>
